<!-- This file added for Step 15  -->
<form [formGroup]="formModel" (ngSubmit)="onSubmit()" novalidate>
  <div class="messages"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <app-first-name-input></app-first-name-input>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <app-last-name-input></app-last-name-input>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <app-email-input></app-email-input>
        </div>
      </div>
      <div class="mat-app-background basic-container">
        <app-telephone-input></app-telephone-input>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <app-message-input></app-message-input>
        </div>
      </div>
      <div class="col-md-12">
        <button type="submit" class="btn btn-success btn-send" value="Send message" [disabled]="!formModel.valid">Submit</button>
        <button type="reset" class="btn btn-default">Reset</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-muted"><strong>*</strong> These fields are required.</p>
      </div>
    </div>
  </div>
</form>
