<div class="container">
  <mat-tab-group (selectedTabChange)="onLinkClick($event)">
    <mat-tab label="Checklist">
      <app-todo-list></app-todo-list>
    </mat-tab>
    <mat-tab label="All Todos">
      <!-- Added for Step 14 -->
      <app-all-tasks [activated]="currentTab == 1"></app-all-tasks>
    </mat-tab>
    <!-- Added new tab for Step 15 -->
    <mat-tab label="Contact">
      <app-contact-form></app-contact-form>
    </mat-tab>
    <mat-tab label="About">
      <app-about></app-about>
    </mat-tab>
  </mat-tab-group>
</div>
