<p></p>
<div class="container">
  <h2 class="heading">
    All To Dos <span class="task-info">( <mat-icon color="primary">check_box</mat-icon> : completed tasks -
      <mat-icon color="primary">check_box_outline_blank</mat-icon> : not completed tasks )</span>
  </h2>
  <br>

  <ul class="list-group">
    <li *ngFor="let todo of allTodos | async" class="list-group-item">
      <span *ngIf="todo.complete; else elseBlock">
        <mat-icon color="primary">check_box</mat-icon>
      </span>
      <ng-template #elseBlock>
        <mat-icon color="primary">check_box_outline_blank</mat-icon>
      </ng-template>
      <span class="todo-title">{{todo.title}}</span>
    </li>
  </ul>
</div>
